{% extends 'base.home.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-1">
  <a class="navbar-brand" href="{{ path('app_home') }}">WatsonSF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-content">
        <div class="left-nav">
            <li class="nav-item active">
                <a class="nav-link active" href="{{ path('app_home') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_link_index') }}"><i class="fas fa-link" aria-hidden="true"></i> Liens</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Pannel d'administration</a>
            </li>
            {% endif %}
        </div>
        <div class="right-nav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <span class="text-light nav-link">Bonjour, {{ user_email }} ! {% if is_granted('ROLE_ADMIN') %}<span class="text-success">[Administrateur]</span>{% endif %}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link link-danger" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Déconnexion</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}"><i class="fa fa-pen" aria-hidden="true"></i> Inscription</a>
                </li>
            {% endif %}
       </div>
    </ul>
  </div>
</nav>
<div class="creatorContainer">
    <div class="creator">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Mya Dumas</p>
    </div>
    <div class="creator">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Maxime Canac</p>
    </div>
    <div class="creator">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Bryan Gast</p>
    </div>
</div>

<div id="menuStylax">
    <li><span class="icon note_icon"></span></li>
    <li><span class="icon photo_icon"></span></li>
    <li><span class="icon saphari_icon"></span></li>
    <li><span class="icon chrome_icon"></span></li>
    <li><span class="icon folder_icon"></span></li>
    <li><span class="icon trash_icon"></span></li>
</div>

{% endblock %}
