{% extends 'base.home.html.twig' %}

{% block title %}Liste de liens{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-1">
  <a class="navbar-brand" href="{{ path('app_home') }}">WatsonSF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-content">
        <div class="left-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="{{ path('app_link_index') }}"><i class="fas fa-link" aria-hidden="true"></i> Liens</a>
            </li>
        </div>
        <div class="right-nav">
        {% if user_email is not null %}
            <li class="nav-item">
                <span class="text-light nav-link">Bonjour, {{ user_email }} ! {% if admin_role is same as(true) %}<span class="text-success">[Administrateur]</span>{% endif %}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link link-danger" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Déconnexion</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}"><i class="fa fa-pen" aria-hidden="true"></i> Inscription</a>
                </li>
            {% endif %}
       </div>
    </ul>
  </div>
</nav>
<div class="container mt-3">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Description</th>
                <th>État</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.title }}</td>
                <td>{{ link.url }}</td>
                <td>{{ link.description }}</td>
                <td>{{ link.state ? 'Yes' : 'No' }}</td>
                <td class="actionFormLink">
                    <a href="{{ path('app_link_show', {'id': link.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir</a>
                    <a href="{{ path('app_link_edit', {'id': link.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Rien pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_link_new') }}"><button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un lien</button></a>  
</div>
{% endblock %}
